body {
    background-color: white;
}

#new-register {
    padding: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #52AC6C;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-register:hover {
    background-color: #188637;
    transition: 0.6s;
}

.table-content{
    display: flex;
    margin-top: 2rem;
}

.table-content th{
    border: none;
    padding: 10px;
}

.table-content td {
    border: 1px solid rgb(179, 179, 179);
    padding: 10px;
}

.btn-edit {
    background-color: blue;
    color: white;
    text-decoration: none;
    padding: 0.4rem;
    border-radius: 5px;
}

.btn-edit:hover {
    background-color: rgb(4, 4, 123);
    transition: 0.6s;
}

.content-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-box h1 {
    font-weight: normal;
    font-size: 30px;

}